/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: 155, 100%, 63%;
	--accent-dark: 234, 100%, 27%;
	--foreground: 166, 16%, 85%;
	--foreground-brighter: 166, 16%, 95%;
	--background: 227, 18%, 15%;
	--background-lighter: 227, 14%, 20%;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--blue: 193, 71%, 65%;
	--coral: 13, 100%, 76%;
	--violet: 240, 74%, 79%;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 
		0 2px 6px rgba(var(--gray), 25%), 
		0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

		--melon: hsla(0, 100%, 80%, 1);
		--sunset: hsla(33, 100%, 78%, 1);
		--cream: hsla(62, 100%, 80%, 1);
		--tea-green: hsla(110, 100%, 82%, 1);
		--electric-blue: hsla(185, 100%, 80%, 1);
		--jordy-blue: hsla(217, 100%, 77%, 1);
		--periwinkle: hsla(258, 100%, 83%, 1);
		--mauve: hsla(310, 100%, 84%, 1);
		--baby-powder: hsla(60, 100%, 99%, 1);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: hsl(var(--background-lighter));
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: hsl(var(--foreground));
	font-size: 20px;
	line-height: 1.7;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0 0.5em;
	color: hsl(var(--foreground-brighter));
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: hsl(var(--blue));
	transition: color 1s ease;
}
a:hover {
	color: hsl(var(--coral));
	transition-duration: 0.18s;
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-block: .75rem;
}
.prose img {
	margin: 1.5rem 0;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: hsl(var(--background));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
@layer code {
	
	pre.css-variables {
		color: hsla( var(--blue), 1 );
	}
	pre.astro-code {
		background: hsl(var(--background))!important;
		line-height: 1.4;
	}
	pre.astro-code { color: var(--baby-powder); }
	pre.astro-code .prompt-code:nth-child(n+1) { color: var(--melon); }
	pre.astro-code .prompt-code:nth-child(n+2) { color: var(--sunset); }
	pre.astro-code .prompt-code:nth-child(n+3) { color: var(--cream); }
	pre.astro-code .prompt-code:nth-child(n+4) { color: var(--tea-green); }
	pre.astro-code .prompt-code:nth-child(n+5) { color: var(--electric-blue); }
	pre.astro-code .prompt-code:nth-child(n+6) { color: var(--jordy-blue); }
	pre.astro-code .prompt-code:nth-child(n+7) { color: var(--periwinkle); }
	pre.astro-code .prompt-code:nth-child(n+8) { color: var(--mauve); }
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}
hr {
	border: none;
	height: 1px;
	background: hsla(var(--violet),0.5);
	margin: 2rem -2rem;
}

figure {
	border-left: 2px solid hsla(var(--violet),0.5);
	margin-left: 0;
	padding-left: 1rem;
	padding-block: .5rem;
}
.prose figure > img {
	margin: 0;
}
figure > figcaption {
	font-size: 0.8em;
	line-height: 1.2;
	font-style: italic;
	margin-top: 0;
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
